Package: com.cokepokes.hsl
Name: hsl
Version: 0.1-3
Description: hsl
Section: Tweaks
Depends: firmware (>= 8.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: CokePokes
dev: 
Homepage: 
Depiction: 
Maintainer: CokePokes
Icon: 

